<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "productService" class = "cs544.exercise5_1.ProductService">
   <!--   <property name = "product" ref = "product"/>-->  
   </bean>
<!--  
   <bean id = "product" class = "cs544.exercise5_1.Product">
      <property name = "productnumber" value = "423"/>
      <property name = "name" value = "Plasma TV"/>
      <property name = "price" value = "992.55"/>
   </bean>-->  
</beans>